# ===== Maven =====
target/
*.jar
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml

# ===== IDE: IntelliJ IDEA =====
.idea/
*.iml
*.ipr
*.iws
out/

# ===== Eclipse =====
.classpath
.project
.settings/
bin/

# ===== VS Code =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini

# ===== Logs / temp =====
*.log
_write_test.txt
